<div id="cases" [ngSwitch]="case">
  <h1>Przypadki</h1>
  <button type="button" name="button" (click)="showCase(1)" [ngClass]="{'btnActive': case === 1}">Dr Sykut</button><button type="button" name="button" (click)="showCase(2)" [ngClass]="{'btnActive': case === 2}">Dr Kopeć</button><button type="button" name="button" (click)="showCase(3)" [ngClass]="{'btnActive': case === 3}">Dr Radej</button>
  <hr>

  <div class="case" *ngSwitchCase="1">
    <h3>Strona w przygotowaniu ...1</h3>

    <div id="cerifications">
      <h1>Certyfikaty</h1>
      <div class="cert-container" *ngFor="let el of certs">
        <a [href]="'./assets/static/certs/' + el + '.pdf'" download>
          <img class="cert-thumb" [src]="'./assets/static/certs/' + el + '.jpg'" alt="prodentica gabinet" width="190" height="143.5">
          <i class="fa fa-download" aria-hidden="true"></i>
        </a>
      </div>
    </div>

  </div>

  <div class="case" *ngSwitchCase="2">
    <h3>Strona w przygotowaniu ...2</h3>
  </div>

  <div class="case" *ngSwitchCase="3">
    <h3>Strona w przygotowaniu ...3</h3>
  </div>

</div>
