<div id="aboutus">
  <h1>O nas</h1>

  <div class="aboutus">
    <p>
      Działając od dwudziestu lat w stomatologii i wychodząc naprzeciw oczekiwaniom Pacjentów, którym pomogliśmy i pomagamy, stworzyliśmy miejsce szczególne w Lublinie – grupową praktykę stomatologiczną z zespołem nastawionym na interdyscyplinarną obsługę pacjentów.
    </p>
    <p>
      Praca jest dla nas pasją, dlatego zdobytą wiedzę przenosimy wprost do gabinetów, by służyć Wam – Pacjentom, by szybko i rzetelnie rozwiązywać złożone problemy z zakresu stomatologii zachowawczej, estetycznej, ortodoncji, pedodoncji, protetyki, implantologii i periodontologii.
    </p>
    <p>
      Praktyka grupowa w Prodentice, w której opiekę nad Pacjentem sprawuje kilku lekarzy – każdy w swoim wyspecjalizowanym zakresie – pozwala na wprowadzenie wszystkich  specjalności stomatologii i możliwość traktowania leczenia uzębienia kompleksowo – od dzieci do dorosłych.
    </p>
    <p>
    Oddajemy Pacjentów pod opiekę lekarzy i pielęgniarek. W rejestracji pomoże i udzieli informacji zespół recepcjonistek.
    </p>
  </div>

  <div class="sidebar">
    <img src="./assets/images/onas600x400.jpg">
  </div>

</div>
