<div id="galeria" >
  <h1>Galeria</h1>

  <div class="darkbox-container">

    <div id="loader" class="loader-container-thumbs" ref="lt">
      <img class="loader-thumbs"  src="./assets/static/loader/loader.svg" alt="prodentica loader">
    </div>

    <a href="./assets/static/images/galeria01.jpg" data-lightbox="image" data-title="Nasz sprzęt">
      <img class="gallery-img" src="./assets/static/images/thumbs/galeria01.jpg" alt="prodentica galeria zdjęć">
    </a>

    <a href="./assets/static/images/galeria02.jpg" data-lightbox="image" data-title="Nasz sprzęt">
      <img class="gallery-img" src="./assets/static/images/thumbs/galeria02.jpg" alt="prodentica galeria zdjęć">
    </a>

    <a href="./assets/static/images/galeria03.jpg" data-lightbox="image" data-title="Nasz sprzęt">
      <img class="gallery-img" src="./assets/static/images/thumbs/galeria03.jpg" alt="prodentica galeria zdjęć">
    </a>

    <a href="./assets/static/images/galeria04.jpg" data-lightbox="image" data-title="Nasz sprzęt">
      <img class="gallery-img" src="./assets/static/images/thumbs/galeria04.jpg" alt="prodentica galeria zdjęć">
    </a>

    <a href="./assets/static/images/galeria05.jpg" data-lightbox="image" data-title="Nasz sprzęt">
      <img class="gallery-img" src="./assets/static/images/thumbs/galeria05.jpg" alt="prodentica galeria zdjęć">
    </a>

    <a href="./assets/static/images/galeria06.jpg" data-lightbox="image" data-title="Nasz sprzęt">
      <img class="gallery-img" src="./assets/static/images/thumbs/galeria06.jpg" alt="prodentica galeria zdjęć">
    </a>

    <a href="./assets/static/images/galeria07.jpg" data-lightbox="image" data-title="Nasz sprzęt">
      <img class="gallery-img" src="./assets/static/images/thumbs/galeria07.jpg" alt="prodentica galeria zdjęć">
    </a>

    <a href="./assets/static/images/galeria08.jpg" data-lightbox="image" data-title="Nasz sprzęt">
      <img class="gallery-img" src="./assets/static/images/thumbs/galeria08.jpg" alt="prodentica galeria zdjęć">
    </a>

    <a href="./assets/static/images/galeria09.jpg" data-lightbox="image" data-title="Nasz sprzęt">
      <img class="gallery-img" src="./assets/static/images/thumbs/galeria09.jpg" alt="prodentica galeria zdjęć">
    </a>

    <a href="./assets/static/images/galeria010.jpg" data-lightbox="image" data-title="Nasz sprzęt">
      <img class="gallery-img" src="./assets/static/images/thumbs/galeria010.jpg" alt="prodentica galeria zdjęć">
    </a>

    <a href="./assets/static/images/galeria011.jpg" data-lightbox="image" data-title="Nasz sprzęt">
      <img class="gallery-img" src="./assets/static/images/thumbs/galeria011.jpg" alt="prodentica galeria zdjęć">
    </a>

    <a href="./assets/static/images/galeria012.jpg" data-lightbox="image" data-title="Nasz sprzęt">
      <img class="gallery-img" src="./assets/static/images/thumbs/galeria012.jpg" alt="prodentica galeria zdjęć">
    </a>

    <a href="./assets/static/images/galeria013.jpg" data-lightbox="image" data-title="Nasz sprzęt">
      <img class="gallery-img" src="./assets/static/images/thumbs/galeria013.jpg" alt="prodentica galeria zdjęć">
    </a>

    <a href="./assets/static/images/galeria014.jpg" data-lightbox="image" data-title="Nasz sprzęt">
      <img class="gallery-img" src="./assets/static/images/thumbs/galeria014.jpg" alt="prodentica galeria zdjęć">
    </a>

    <a href="./assets/static/images/galeria015.jpg" data-lightbox="image" data-title="Nasz sprzęt">
      <img class="gallery-img" src="./assets/static/images/thumbs/galeria015.jpg" alt="prodentica galeria zdjęć">
    </a>

    <a href="./assets/static/images/galeria016.jpg" data-lightbox="image" data-title="Nasz sprzęt">
      <img class="gallery-img" src="./assets/static/images/thumbs/galeria016.jpg" alt="prodentica galeria zdjęć">
    </a>

    <a href="./assets/static/images/galeria017.jpg" data-lightbox="image" data-title="Nasz sprzęt">
      <img class="gallery-img" src="./assets/static/images/thumbs/galeria017.jpg" alt="prodentica galeria zdjęć">
    </a>

    <a href="./assets/static/images/galeria018.jpg" data-lightbox="image" data-title="Nasz sprzęt">
      <img class="gallery-img" src="./assets/static/images/thumbs/galeria018.jpg" alt="prodentica galeria zdjęć">
    </a>

    <a href="./assets/static/images/galeria019.jpg" data-lightbox="image" data-title="Nasz sprzęt">
      <img class="gallery-img" src="./assets/static/images/thumbs/galeria019.jpg" alt="prodentica galeria zdjęć">
    </a>

    <a href="./assets/static/images/galeria020.jpg" data-lightbox="image" data-title="Nasz sprzęt">
      <img class="gallery-img" src="./assets/static/images/thumbs/galeria020.jpg" alt="prodentica galeria zdjęć">
    </a>

    <a href="./assets/static/images/galeria021.jpg" data-lightbox="image" data-title="Nasz sprzęt">
      <img class="gallery-img" src="./assets/static/images/thumbs/galeria021.jpg" alt="prodentica galeria zdjęć">
    </a>

    <a href="./assets/static/images/galeria022.jpg" data-lightbox="image" data-title="Nasz sprzęt">
      <img class="gallery-img" src="./assets/static/images/thumbs/galeria022.jpg" alt="prodentica galeria zdjęć">
    </a>

    <a href="./assets/static/images/galeria023.jpg" data-lightbox="image" data-title="Nasz sprzęt">
      <img class="gallery-img" src="./assets/static/images/thumbs/galeria023.jpg" alt="prodentica galeria zdjęć">
    </a>

    <a href="./assets/static/images/galeria024.jpg" data-lightbox="image" data-title="Nasz sprzęt">
      <img class="gallery-img" src="./assets/static/images/thumbs/galeria024.jpg" alt="prodentica galeria zdjęć">
    </a>

    <a href="./assets/static/images/galeria025.jpg" data-lightbox="image" data-title="Nasz sprzęt">
      <img class="gallery-img" src="./assets/static/images/thumbs/galeria025.jpg" alt="prodentica galeria zdjęć">
    </a>

    <a href="./assets/static/images/galeria026.jpg" data-lightbox="image" data-title="Nasz sprzęt">
      <img class="gallery-img" src="./assets/static/images/thumbs/galeria026.jpg" alt="prodentica galeria zdjęć">
    </a>


  </div>

</div>
