<div id="equipment" >
  <h1>Wyposażenie</h1>

  <div class="darkbox-container">

    <div id="loader" class="loader-container-thumbs">
      <img class="loader-thumbs"  src="./assets/static/loader/loader.svg" alt="prodentica loader">
    </div>

    <a *ngFor="let el of equipment" [href]="'./assets/static/images/' + el.name + '.jpg'" data-lightbox="image" data-title="Wyposażenie">
      <img class="gallery-img" [src]="'./assets/static/images/thumbs/' + el.name + '.jpg'" alt="prodentica nasz sprzęt">
    </a>

  </div>

</div>
