<div id="app">

  <div class="main">



  <header>
    <div class="header-image">
      <img src="./assets/images/headerimg.png">

    </div>
    <div class="header-logo">
      <h1>ProDentica</h1>
      <h3>Gabinet stomatologiczny</h3>
    </div>
    <div class="header-contact">
      <img class="qr" src="./assets/images/qrcode.png">
      <div class="contact-data">
        <p class="contact-data-txt">
          <a href="tel:081 742 68 24">081 742 68 24 <i class="fa fa-phone" aria-hidden="true"></i></a>
          <a href="mailto:sykutjanusz@gmail.com"> sykutjanusz@gmail.com <i class="fa fa-envelope" aria-hidden="true"></i></a>
        </p>

      </div>

    </div>

  </header>

  <div class="bars"  (click)="toggleNav()">
    <i class="fa fa-bars" aria-hidden="true"></i>
  </div>

  <nav [className]="navState ? 'nav-close': 'nav-open'">



    <div class="nav-home-block" (click)="toggleNav()">

      <a routerLink="/"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <div class="nav-home radial-gradient">Home</div>
      </a>

    </div>


    <div class="nav-links-block" (click)="toggleNav()">
      <a routerLink="/onas" routerLinkActive="active" ><div class="nav-link">O nas</div></a>

      <a routerLink="/uslugi" routerLinkActive="active"><div class="nav-link radial-gradient">Usługi</div></a>

      <a routerLink="/galeria" routerLinkActive="active"><div class="nav-link">Galeria</div></a>

      <a routerLink="/certyfikaty" routerLinkActive="active"><div class="nav-link radial-gradient">Certyfikaty</div></a>

      <a routerLink="/zespol" routerLinkActive="active"><div class="nav-link radial-gradient">Nasz zespół</div></a>

      <a routerLink="/publikacje" routerLinkActive="active"><div class="nav-link">Nasze publikacje</div></a>

      <a routerLink="/sprzet" routerLinkActive="active"><div class="nav-link radial-gradient">Czym pracujemy</div></a>

      <a routerLink="/kontakt" routerLinkActive="active"><div class="nav-link">Kontakt</div></a>
    </div>




  </nav>
  <hr>

  <router-outlet></router-outlet>

  </div>

  <footer class="gradient-footer">

      <div class="footer-menu">
        <a routerLink="/">Home</a><span> | </span>
        <a routerLink="/onas">O nas</a><span> | </span>
        <a routerLink="/przypadki">Nasze przypadki</a><span> | </span>
        <a routerLink="/galeria">Galeria</a><span> | </span>
        <a routerLink="/zespol">Nasz zespół</a><span> | </span>
        <a routerLink="/kontakt">Kontakt</a>
      </div>

    <hr>

    <div class="copyright">
      <p>Copyright &copy; {{ year }} by Prodentica</p>
    </div>


  </footer>

</div>
