<div id="cases" [ngSwitch]="case">
  <h1>Przypadki</h1>
  <button type="button" name="button" (click)="showCase(1)" [ngClass]="{'btnActive': case === 1}">Przypadek 1</button><button type="button" name="button" (click)="showCase(2)" [ngClass]="{'btnActive': case === 2}">Przypadek 2</button><button type="button" name="button" (click)="showCase(3)" [ngClass]="{'btnActive': case === 3}">Przypadek 3</button>
  <hr>

  <div class="case" *ngSwitchCase="1">
    <h3>Strona w przygotowaniu ...</h3>

  </div>

  <div class="case" *ngSwitchCase="2">
    <h3>Strona w przygotowaniu ...</h3>
  </div>

  <div class="case" *ngSwitchCase="3">
    <h3>Strona w przygotowaniu ...</h3>
  </div>

</div>
