<div id="galeria">
  <h1>Zakres Usług:</h1>

  <div class="services" (click)="showService($event)">
    <h2>Profilaktyka <i class="fa fa-chevron-circle-down" ariahidden="true"></i></h2>
    <div class="services-hide">
      <ul>
        <li>usuwanie kamienia i osadów nazębnych</li>
        <li>piaskowanie osadów</li>
        <li>znoszenie nadwrażliwości zębów i szyjek zębów</li>
        <li>lapisowanie ubytków w zębach mlecznych</li>
        <li>fluoryzacja kontaktowa w profilaktyce próchnicy</li>
        <li>lakowanie bruzd i lakierowanie zębów</li>
        <li>instruktaże dotyczące prawidłowej higieny j. ustnej i masażu dziąseł z doborem odpowiedniego osprzętu: szczotek, nici, floserów, irygatorów, preparatów ,past itp.</li>
        <li>instruktaże ćwiczeń mioterapeutycznych i postępowania: we wczesnej profilaktyce ortodontycznej, przy zaburzeniach połykania, wadach zgryzu, związanych z eliminacją zaburzeń w stawach skroniowożuchwowych</li>
        <li>plastrowanie/kynesiology taping/</li>
        <li>stosowanie płytek relaksacyjnych różnej grubości i twardości u pacjentów z obniżoną wysokością zwarcia i przy bruksizmie /”zgrzytanie zębów”/</li>
        <li>płytki przedsionkowe, płytki ochronne sportowe</li>
        <p><strong>Skontaktuj się</strong></p>
        <p><strong>SPECJALISTA DR KATARZYNA RADEJ</strong></p>
        <p><strong>DR PRZEMYSŁAW KOPEĆ</strong></p>
      </ul>
    </div>
  </div>

  <div class="services" (click)="showService($event)">
    <h2>Stomatologia zachowawcza i estetyczna <i class="fa fa-chevron-circle-down" ariahidden="true"></i></h2>
    <div class="services-hide">
      <ul>
        <li>odbudowy ubytków próchnicowych zębów mlecznych i stałych, żywych i martwych</li>
        <li>leczenie ubytków szkliwa i zębiny klinowych i innych niepróchnicowego pochodzenia</li>
        <li>korekty ubytków i niedorozwojów szkliwa</li>
        <li>rekonstrukcje zębów złamanych po urazach</li>
        <li>odbudowy rozległych ubytków zębów met. bezpośrednią lub pośrednią z zastosowaniem wkładów i nakładów / inlay, onlay/ kompozytowych lub porcelanowych</li>
        <li>korekty koloru i kształtu zębów</li>
        <li>maskowanie przebarwień</li>
        <li>licowanie zębów kompozytem</li>
        <li>leczenie przyżyciowe zębów</li>
        <li>szynowanie kompozytem zębów rozchwianych z zastosowaniem wzmocnień taśmami z włókna szklanego</li>
      </ul>
    </div>
  </div>

  <div class="services" (click)="showService($event)">
  <h2>Stomatologia Dziecięca <i class="fa fa-chevron-circle-down" ariahidden="true"></i></h2>
    <div class="services-hide">
      <h3>Mali Pacjenci</h3>
      <p>„Częstym błędem popełnianym w lecznictwie dziecięcym jest traktowanie dziecka jako pacjenta, któremu można wykonać zabieg wbrew jego przyzwoleniu, znienacka czy „na siłę” w razie oporu czy pośpiechu. Powoduje to, że powstały w trakcie tak wykonanego zabiegu uraz oraz stres i utracone zaufanie będą naznaczały takiego pacjenta na całe jego dalsze życie.”</p>
      <p><strong>Skontaktuj się</strong></p>
      <p><strong>SPECJALISTA DR  KATARZYNA RADEJ</strong></p>
      <p>Wizyta dziecka w gabinecie stomatologicznym musi przebiegać w sposób pozwalający dziecku nabrać zaufania i przekonania, że nie stanie mu się krzywda w jego odczuciu. Stąd niewskazany jest pośpiech, a więc pierwsze wizyty, których może być kilka zanim dziecko uda się przekonać do zgody na badanie i dalsze leczenie, nie powinny wynikać z nagłej potrzeby interwencji związanej z dolegliwościami bólowymi, w przypadku których, niestety na odkładanie wizyty często nie można sobie pozwolić z uwagi na zaawansowanie problemu.</p>
      <p><strong>Uspokojenie podtlenkiem azotu</strong></p>
      <i><p>Leczenie zaniepokojonych pacjentów jest również przyczyną stresu wśród lekarzy dentystów i personelu medycznego, czyniąc kwestię walki z lękiem kluczowym wyzwaniem we współczesnej stomatologii.</p>
        <p>Sedacja wziewna z użyciem mieszaniny podtlenku azotu i tlenu jest jedną z najskuteczniejszych dostępnych metod uspokajania pacjentów w stomatologii i innych dziedzinach medycyny zabiegowej. Metoda ta jest powszechnie akceptowana i przyjmowana z entuzjazmem przez pacjentów obawiających się wizyt stomatologicznych. System sedacji wziewnej wyróżnia bezpieczeństwo, niezawodność oraz łatwość obsługi potrzebne do bezstresowego leczenia zarówno dla pacjenta, jak i lekarza.</p></i>
        <p>Gaz rozweselający jest bardzo bezpieczny i nieszkodliwy szczególnie przydatny dla dzieci i dorosłych odczuwających silny lęk przed wizytą u dentysty i leczeniem. Jest stosowant w medycynie i stomatologii od dawna.</p>
        <p>Zastosowanie gazu antystresowego wprowadza pacjenta w stan rozluźnienia i odprężenia, redukując nieprzyjemne odczucia związane z leczeniem. Dawkę podtlenku azotu dostosowuje się do poziomu stresu u pacjenta, co oznacza, że można pogłębiać bądź spłycać stan relaksacji. Cały czas utrzymywany jest kontakt z pacjentem, który przebywa w stanie przyjemnej euforii. U najmłodszych pacjentów dość często pojawiają się marzenia senne na jawie np. latanie samolotem, rakietą kosmiczną, taniec na balu, itp. Gaz rozweselający wdycha się za pomocą maseczki zakładanej na nos. Każdy pacjent ma swoją własną maseczkę.</p>
        <p>Ponieważ podtlenek azotu wykazuje działanie zneczulające, małe zabiegi mogą odbyć się bez znieczulenia. Jednak w przypadku bardziej skomplikowanego leczenia nieczulenie miejscowe jest jak najbardziej możliwe.</p>
       
      <p><strong>Kiedy podanie gazu rozweselającego daje najlepsze rezultaty</strong></p>

      <ul>
        <li>jeżeli Ty lub twoje dziecko odczuwacie lęk przed jakimkolwiek leczeniem stomatologicznym;</li>
        <li>jeżeli Twoje dziecko nie było jeszcze leczone stomatologicznie;</li>
        <li>jeżeli odczuwasz silny strach przed leczeniem stomatologicznym;</li>
        <li>jeżeli nie chcesz się bać dentysty;</li>
        <li>jeżeli pacjent ma silny odruch wymiotny i nie można pobrać wycisku, zrobić zdjęcia rtg;</li>
        <li>jeżeli wyrwanie zęba wydaje się być czymś trudnym do zniesienia;</li>
      </ul>
 
      <p>
        <strong>Zalecenia dla pacjentów</strong>
      </p>

      <ul>
        <li>nie jeść co najmniej 3 godz. przed zabiegiem;</li>
        <li>dzieci muszą przychodzić z dorosłą osobą towarzyszącą;</li>
        <li>nie nakładać ciasnych ubrań;</li>
        <li>wg piśmiennictwa po 30 minutach od zakończenia podawanego gazu można prowadzić pojazdy mechaniczne, jednak ze względu na bezpieczeństwo zalecamy naszym pacjentom, aby w dniu wykonania sedacji nie prowadzili pojazdów mechanicznych</li>
      </ul>

      <ul class="dashed">
         <li>wizyty adaptacyjne</li>
         <li>leczenie próchnicy zębów mlecznych i stałych stałych (wypełnienia kompozytowe kolorowe, białe, wypełnienia glassjonomerowe)</li>
         <li>lakowanie zębów(laki mogą być białe, kolorowe, uwalniające fluor)</li>
         <li>usuwanie zębów mlecznych i stałych</li>
         <li>ozonoterapia</li>
         <li>fluoryzacje</li>
         <li>usuwanie złogów nazębnych, piaskowanie</li>
         <li>bezstresowe leczenie w sedacji wziewnej podtlenkiem azotu(gaz rozweselający)</li>
         <li>nagrody i dyplomy  dla dzielnych pacjentów</li>
         <li>w trakcie wizyty dzieci oglądają bajki na ekranie telewizora</li>
      </ul>

    </div>
  </div>

  <div class="services" (click)="showService($event)">
    <h2>Leczenie endodontyczne <i class="fa fa-chevron-circle-down" ariahidden="true"></i></h2>
    <div class="services-hide">

        <p>
          Leczenie kanałowe jest niezbędne, kiedy miazga, tkanka miękka wypełniająca wnętrze zęba, jest w stanie zapalnym lub jest zakażona. Główne przyczyny to  głęboka próchnica oraz urazy zęba. Nieleczone zapalenie miazgi skutkuje dolegliwościami bólowymi i może prowadzić prowadzi do powstania ropnia.  Częste objawy to zwiększona wrażliwość na ciepło, tkliwość zęba przy nagryzaniu oraz powiększenie okolicznych węzłów chłonnych.
        </p>
      <p>
        Leczenie kanałowe jest przeprowadzane, aby uwolnić pacjenta od bólu. Przy użyciu nowoczesnych metod znieczulania możliwe jest znaczne zredukowanie bólu. Większość pacjentów nie odczuwa dyskomfortu w czasie leczenia. Parę dni po leczeniu ząb może być nadwrażliwy, szczególnie jeśli był leczony z powodu zaawansowanego stanu zapalnego z burzliwymi objawami przed leczeniem. Te dolegliwości można zminimalizować stosując leki zalecone przez dentystę oraz stosując się do jego zaleceń.
        Endodoncja to inne określenie leczenia kanałowego, które obejmuje usuwanie uszkodzonych lub martwych nerwów i naczyń krwionośnych z korzenia zęba, który został zakażony w skutek działania próchnicy, ukruszenia lub urazu. Przestrzeń pozostała po usunięciu nerwu jest wypełniana materiałem, który uszczelnia ząb i pozwala mu funkcjonować jak dotychczas.
        Powtórne leczenie kanałowe (reendo) może być skomplikowaną i wymagającą procedurą, obejmującą usunięcie materiału obecnie wypełniającego kanał, ponowne czyszczenie kanału i wypełnienie go nowym materiałem. Mikroskop wykorzystujemy w skomplikowanych przypadkach leczenia kanałowego, w przypadku zębów trudno dostępnych, do znajdywania trudnych do znalezienia wejść do kanałów oraz do usuwania resztek zęba lub instrumentów medycznych i chirurgii kanałowej.
        Leczenie endodoncyjne może w sposób bezpieczny i komfortowy na wiele lat uratować ząb, który w innych okolicznościach trzeba by usunąć.
      </p>
        <p>
          Pamiętaj, że zdrowy, wyleczony ząb jest zawsze lepszy od sztucznego. Ostateczny wybór zawsze należy do ciebie, ale utrata zęba wiąże się z licznymi niedogodnościami. Kiedy usunięty ząb nie zostanie zastąpiony, zęby sąsiadujące z pustym miejscem po nim zaczynają zmieniać swoje normalne położenie. Może to prowadzić do ich wykrzywienia lub ściśnięcia powodującego utratę skuteczności gryzienia i żucia.
        </p>
        <p>
          Po wykonaniu zdjęcia RTG oraz znieczulenia ząb oczyszcza się z próchnicy. Następnie otwiera się komorę zęba, aby dostać się do zainfekowanej miazgi. Za pomocą endometru  ustalana jest długość kanałów korzeniowych, które odpowiednio kształtuje się i oczyszcza .  Kanały wypełniane są metodą termiczną aby uzyskać doskonałą szczelność.
        W Studio Uśmiechu w czasie leczenia kanałowego stosujemy nowoczesny sprzęt diagnostyczno terapeutyczny (m.in. mikroskop, mikrosilnik endodontyczny,  endometr)
      </p>


       <ul>
         <li>Opracowanie i wypełnienie jednego kanału</li>
         <li>Opracowanie i wypełnienie dwóch kanałów</li>
         <li>Opracowanie i wypełnienie trzech kanałów</li>
         <li>Opracowanie i wypełnienie kanałów pod mikroskopem</li>
         <li>Opracowanie i wypełnienie dodatkowego kanału</li>
         <li>Usunięcie złamanego narzędzia</li>
         <li>Usunięcie starego wkładu koronowokorzeniowego</li>
       </ul>

        <p><strong>Skontaktuj się</strong></p>
        <p><strong>DR PRZEMYSŁAW KOPEĆ</strong></p>

    </div>
  </div>
  <div class="services" (click)="showService($event)">
    <h2>Protetyka <i class="fa fa-chevron-circle-down" ariahidden="true"></i></h2>
    <div class="services-hide">
      <p>Serdecznie zapraszamy na bezpłatną konsultację protetytczną</p>

      <p>Protetyka</p>
       <ul>
         <li>wkłady koronowo korzeniowe lane i standardowe</li>
         <li>korony i mosty porcelanowe napalane na metalu i pełnoceramiczne</li>
         <li>Korona pełnoceramiczna (bez podbudowy – najwyższa estetyka): – w systemie Empress II, – porcelana skaleniowa, – w systemie Procera</li>
         <li>licówki ceramiczne lub kompozytowe</li>
         <li>licówki pełnoceramiczne</li>
         <li>wkłady, nakłady porcelanowe i kompozytowe</li>
         <li>korony i mosty tymczasowe akrylowe i kompozytowe</li>
         <li>protezy osiadające częściowe i całkowite</li>
         <li>protezy natychmiastowe częściowe i całkowite</li>
         <li>szynoprotezy i protezy szkieletowe</li>
         <li>protezy mocowane kosmetycznie na zatrzaskach, zasuwach czy belkach</li>
         <li>uzupełnienia protetyczne mocowane na implantach</li>
         <li>protezy nakładkowe /overdenture/mocowane na resztkowym uzębieniu korzeniach zębów z zamocowanymi wkładami koronowo korzeniowymi z zatrzaskami lub na implantach</li>
         <li>płytki relaksacyjne i ochronne miękkie i twarde o różnej grubości</li>
         <li>współpraca z ortodontą w sprawach przedprotetycznego leczenia ortodontycznego</li>
         <li>Modele diagnostyczne</li>
         <li>Diagnostyczne nawoskowanie (za punkt)</li>
       </ul>

        <p><strong>Skontaktuj się</strong></p>
        <p><strong>SPECJALISTA DR N. MED JANUSZ SYKUT</strong></p>

    </div>
  </div>

  <div class="services" (click)="showService($event)">
    <h2>Chirurgia stomatologiczna i periodontologiczna <i class="fa fa-chevron-circle-down" ariahidden="true"></i></h2>
    <div class="services-hide">
      <ul>
      <li>usuwanie zębów stałych i mlecznych</li>
      <li>usuwanie zębów z utrudnionym wyrzynaniem i zębów zatrzymanych /poprzez dłutowanie wewnątrz zębodołowe lub zewnątrz zębodołowe /</li>
      <li>usuwanie nawisów dziąsłowych zębów z utrudnionym wyrzynaniem</li>
      <li>zamykanie poekstrakcyjnych połączeń ustno zatokowych i plastyki przetok ustnozatokowych</li>
      <li>resekcje wierzchołków korzeni zębów</li>
      <li>hemisekcje, premolaryzacje zębów</li>
      <li>leczenie chirurgiczne torbieli metodą wyłuszczenia lub wgłobienia</li>
      <li>wszczepianie preparatów kościotwórczych i kościozastępczych oraz sterowana regeneracja kości</li>
      <li>plastyka wyrośli kostnych i chirurgiczne przygotowanie wyrostków zębodołowych do protezowania</li>
      <li>plastyka przerostów tkanek miękkich/usuwanie tzw. „grzebieni kogucich”czy „ziarniniaków szczelinowatych”/</li>
      <li>leczenie przerostów wędzidełek warg, języka i policzków poprzez wycięcie lub plastykę na „ostro” lub z zastosowaniem elektrokoagulacji</li>
      <li>pobieranie wycinków tkanek miękkich i twardych do badania hist.pat. , nacięcia ropni, leczenie zapaleń zębodołów/tzw.”suchych czy pustych zębodołów”/</li>
      <li>pogłębianie przedsionków</li>
      <li>kiretaże otwarte i zamknięte</li>
      <li>gingiwektomie</li>
      <li>chirurgiczne wydłużanie koron dla korekty kosmetycznej i wydłużanie korzeni zębów dla celów odbudowy protetycznej</li>
      <li>wszczepianie mini implantów stabilizujących protezy całkowite</li>
      <li>unieruchamianie zębów i stawów skroniowożuchwowych/ssż/ po urazach szczęk</li>
      <li>repozycja zwichnięć ssż</li>
      <li>współpraca z implantologami w zakresie leczenia implantologicznego w pełnym zakresie</li>
      <li>w trudnych przypadkach współpraca ze specjalistami periodontologami lub ortodontami</li>
      </ul>

      <p><strong>Skontaktuj się</strong></p>
      <p><strong>SPECJALISTA DR N. MED JANUSZ SYKUT</strong></p>

    </div>
  </div>

  <div class="services" (click)="showService($event)">
    <h2>Implanty Lublin – Implantologia <i class="fa fa-chevron-circle-down" ariahidden="true"></i></h2>
    <div class="services-hide">
      <p>
        Implanty – “Nowoczesna implantologia pozwala na osiągnięcie trwałego efektu estetycznego i na poprawę zaburzonej poprzez utratę zębów mechaniki narządu żucia. Zabieg, w czasie którego wstawiane są implanty wykonywany jest w znieczuleniu miejscowym. Może obejmować całość jamy ustnej, bądź pojedynczy ubytek. Wstawienie implantów jest kilkuetapowe. Podstawowym materiałem, z którego wykonywane są implanty stomatologiczne jest tytan (ze względu na swoją biokompatybilność – nie jest rozpoznawany przez organizm jako ciało obce). Ceny wstawienia implantów są bardzo atrakcyjne, szczególnie gdy bierzemy pod uwagę relację ceny leczenia do uzyskanych korzyści, z których główną jest znaczna poprawa jakości życia – zarówno od strony praktycznej jak i estetycznej”.
      </p>
      <p><strong>Czym są Mini Implanty?</strong></p>
      <p>
        “Mini implanty są to implanty o średnicy mniejszej niż 3 mm. Implanty te stanowią alternatywę dla konwencjonalnych implantów przy zaopatrywaniu bezzębnej żuchwy, wtedy kiedy zanikła kość części zębodołowej żuchwy uniemożliwia instalację implantów o większej średnicy. Jest to alternatywą dla zabiegów augumentacji oraz przeszczepów kości. Wskazaniem do zastosowania mini implantów jest całkowity brak zębów w żuchwie u pacjentów, u których niemożliwe jest wprowadzenie pełnowymiarowych implantów. Mini implanty maja swoich zwolenników ze względu na minimalną inwazyjność zabiegu i możliwość natychmiastowego obciążenia. Niektórzy autorzy podkreślają jednak krótki okres badań nad mini implantami i obserwacji długoterminowego wykorzystania. Określają konieczność dalszych obserwacji, które zweryfikują możliwość zastosowania mini implantów”.
      </p>
      <p><strong>Czym jest Zatrzask?</strong></p>
      <p>
        “To rodzaj zamocowania protetycznego, przypominający powszechnie stosowane zapięcie w odzieży. Może być montowane w brakach międzyzębowych do pojedynczych zębów filarowych”.
      </p>
      <p>
        <strong>Implanty  spojrzenie bardziej naukowe</strong>
      </p>
      <p>
        “Podobnie jak w przypadku naturalnych zębów, również zdrowe tkanki okalające implant posiadają szerokość biologiczną. Jest to mankiet z tkanki miękkiej, konieczny do stabilizacji przyzębia wokół wspartych na szczepach protez. Jeśli chodzi o wszczepy zębowe, zarówno gruby płaski, jak również girlandowaty tym biologiczny przyzębia posiadają swoje wady i zalety.
      </p>
      <p>
        W przypadku cienkiego girlandowatego przyzębia międzyzębowa objętość tkanki kostnej jest większa – z powodu wąskich, stożkowatych korzeni. Jest to korzystne dla zapewnienia odpowiedniej odległości pomiędzy implantem a zębem oraz pomiędzy sąsiednimi implantami, czyli odpowiednio 1,5 i 3 mm. Jednak ze względu na cienkie i delikatne dziąsło nieumyślny uraz lub niewłaściwie złożony wszczep mogą doprowadzić do recesji dziąsła (odsłaniając sztyft filarowy implantu) lub powstania nieestetycznych “czarnych trójkątów”.
      </p>
      <p>
        Natomiast gdy mamy do czynienia z grubym płaskim biotypem, korzenie są szersze i stożkowate, dlatego pozostawiają mniejszą przestrzeń pomiędzy sąsiednimi zębami lub planowanymi implantami. W tej sytuacji dobrym rozwiązaniem może się okazać zastosowanie węższych wszczepów z równoczesnym mezjalnodestalnym przeszczepem tkanki kostnej lub przeszczepem od strony policzkowej w celu skompresowania zredukowanej przestrzeni mezjalnodestalnej.
      </p>
      <p>
        Zaletą grubego typu biologicznego przyzębia jest to, iż z powodu obszernego, włóknistego dziąsła niebezpieczeństwo powstania recesji jest znacznie mniej prawdopodobne niż w przypadku biotypu cienkiego girlandowatego.
      </p>
      <p>
        Ponadto brzegi wszystkich rekonstrukcji umieszczonych zewnątrzkoronowo (na zębach naturalnych lub implantach) powinny naśladować kontur połączenia szkliwnocementowego i brzegu kostnego wyrostka, z dokoronowanymi szczątkami w przestrzeniach międzyzębowych i dowierzchołkowymi szczytami na powierzchniach policzkowych, wargowych i językowych. Wprowadzenie implantów typu “scalloped” oraz implantów parabolicznych naśladujących naturalny kontur połączenia szkliwnocementowego i brzegu wyrostka miało na celu zminimalizowanie utraty tkanki kostnej w przestrzeni międzyzębowej, co stosunkowo często występuje w wypadku stosowanie wszczepów konsencjonalnych o płaskich platformach łącznikowych. Wszczepienie opisanych powyżej nowoczesnych implantów daje możliwość utworzenia połączania implantdziąsło – na wzór naturalnego połączenia zębowodziąsłowego”.
      </p>
      <p>Dobieramy najbardziej odpowiedni kolor implantu</p>
      <p><strong>Skontaktuj się</strong></p>
      <p><strong>SPECJALISTA DR N. MED JANUSZ SYKUT</strong></p>
    </div>
  </div>

</div>
