<div id="team">
  <h1>Nasz zespół</h1>


  <div class="team">
    <img src="./assets/images/zespol-sykut600x600.jpg">
    <h2>DR N. MED JANUSZ SYKUT</h2>
    <h3>SPECJALISTA PROTETYKI, CHIRURGII, IMPLANTOLOGII</h3>
    <p>
      Specjalista protetyki stomatologicznej. Absolwent Uniwersytetu Medycznego w Lublinie z
wynikiem celującym. W latach 2002-2017 rezydent, wykładowca, a następnie adiunkt w
Katedrze i Zakładzie Protetyki Stomatologicznej UM w Lublinie. W 2014 roku uzyskał tytuł
doktora nauk medycznych z wyróżnieniem. Były pracownik Katedry i Zakładu Stomatologii
zachowawczej UM w Lublinie oraz Poradni Chirurgii Stomatologicznej Wojewódzkiej Przychodni
Stomatologicznej w Lublinie.
    </p>
    <p class="team-link" (click)="showSykut = !showSykut"><strong>Więcej</strong> <i class="fa fa-chevron-circle-down" aria-hidden="true"></i></p>
    <div *ngIf="showSykut">
      <p>
        Autor 24 publikacji w czasopismach branżowych, uczestnik licznych krajowych i zagranicznych
kursów i konferencji naukowych. Członek licznych organizacji branżowych, w 2014 roku
ukończył prestiżowy czteroletni Implant Continuum Education Program w Collage od Dentistry
New York University. Nieustannie dba o rozwój zawodowy oraz wdraża nowe technologie.
Stomatologia jest dla niego pasją, której efekty mogą Państwo zobaczyć na-: i odnośnik do mojego instagrama
      </p>
      <p>Prywatne zainteresowania: sporty wodne i zimowe, motoryzacja, film.</p>
    </div>
  </div>

  <div class="team">
    <img src="./assets/images/zespol-radej600x600.jpg">
    <h2>DR KATARZYNA RADEJ</h2>
    <h3>SPECJALISTA PEDODONCJI (STOMATOLOGIA  DZIECIĘCA, ZACHOWAWCZA)</h3>
    <p>
      Absolwentka Uniwersytetu Medycznego w Lublinie. W 2014 roku uzyskała tytuł specjalisty w dziedzinie stomatologii dziecięcej.
    </p>
    <p class="team-link" (click)="showRadej = !showRadej"><strong>Więcej</strong> <i class="fa fa-chevron-circle-down" aria-hidden="true"></i></p>
    <div *ngIf="showRadej">
      <p>
        Uczestniczka licznych kursów i konferencji. Od 2013 roku zajmuje się pracą z wykorzystaniem podtlenku azotu (gazu rozweselającego). Do małych i dużych pacjentów podchodzi z uśmiechem i cierpliwością. 
      </p>
      <p>
        Prywatnie mama dwójki dzieci. Zainteresowania to zdrowa kuchnia, wycieczki rowerowe i film.
      </p>

    </div>
  </div>

  <div class="team">
    <img src="./assets/images/zespol-kopec600x600.jpg">
    <h2>DR PRZEMYSŁAW KOPEĆ</h2>
    <h3>SPECJALISTA ENDODONCJI</h3>
    <p>
      Specjalista stomatologii zachowawczej z endodoncją. Absolwent Uniwerytetu Medycznego w Lublinie. Od 2013 do 2016 pracownik w Zakładzie Stomatologii Zachowawczej i Endodoncji Stomatologicznego Centrum Klinicznego w Lublinie w ramach rezydentury.
    </p>
    <p class="team-link" (click)="showKopec = !showKopec"><strong>Więcej</strong> <i class="fa fa-chevron-circle-down" aria-hidden="true"></i></p>
    <div *ngIf="showKopec">
      <p>
        Podczas stażu podyplomowego pracownik wolontaryjny w Zakładzie Stom. Zach. Z Endo. SCK.
      	Uczestnik wielu konferencji i kursów stomatologicznych.
      </p>
    	<p>
        Endodonta z zamiłowania i pasji. Miłośnik nowoczesnej motoryzacji oraz militariów.
      </p>

    </div>
  </div>

  <h1>Kompleksowe leczenie & profilaktyka</h1>
</div>
