<div id="home">
  <h1>Home</h1>

  <div class="home">
    <h2>Firma</h2>
    <div class="swiper-container">
    <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide"><img src="./assets/images/home-firma600x400.jpg"></div>
          <div class="swiper-slide"><img src="./assets/static/images/galeria022.jpg"></div>
          <div class="swiper-slide"><img src="./assets/static/images/galeria024.jpg"></div>
      </div>
    </div>
    <p>
      Działając od dwudziestu lat w stomatologii i wychodząc naprzeciw oczekiwaniom Pacjentów, którym pomogliśmy i pomagamy, stworzyliśmy miejsce szczególne w Lublinie – grupową praktykę stomatologiczną z zespołem nastawionym na interdyscyplinarną obsługę pacjentów.
    </p>
  </div>

  <div class="home">
    <h2>Zadowolenie Pacjentów</h2>
    <div class="swiper-container">
    <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide"><img src="./assets/images/home-zadowolenie600x400.jpg"></div>
          <div class="swiper-slide"><img src="./assets/static/images/galeria08.jpg"></div>
          <div class="swiper-slide"><img src="./assets/static/images/galeria016.jpg"></div>
      </div>
    </div>
    <p>
      Pacjenci wracają i rekomendują nas znajomym. Bardzo dziękujemy za lojalność i stałe polecenia usług Prodentica.
    </p>
  </div>

  <div class="home">
    <a routerLink="/certyfikaty" active-class="active"><h2>Doświadczenie</h2></a>
    <div class="swiper-container">
    <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide"><img src="./assets/images/home-gabinet600x400.jpg"></div>
          <div class="swiper-slide"><img src="./assets/static/images/galeria011.jpg"></div>
          <div class="swiper-slide"><img src="./assets/static/images/galeria013.jpg"></div>
      </div>
    </div>
    <p>
      Każdy z nas przyjmuje Pacjentów od ponad dekady, asystentki medyczne mają równie bogate doświadczenie. Udane zabiegi możemy liczyć w dziesiątkach tysięcy.
    </p>
  </div>

</div>
