<div id="publications">
  <h1>Publikacje</h1>
  <ol class="publications-list">
   <li ><span ><a
       href="http://bpp.umlub.pl/bpp/wydawnictwo_ciagle/81847/" target="_blank"><span
       >Leczenie implantoprotetyczne braków zębowych w odcinku
       przednim. (Implantoprosthetic treatment of lack of teeth in anterior
       region.)</span><span >[AUT.] JANUSZ
       SYKUT*, GRZEGORZ MICHALCZEWSKI, JUSTYNA OLESZEK, JANUSZ BOROWICZ. <i>Implants</i>
       2015 vol. 10 nr 4 s. 38-42, bibliogr. sum.</span></a></span><span
       > </span></li>
   <li ><span ><a
       href="http://bpp.umlub.pl/bpp/wydawnictwo_ciagle/69079/" target="_blank"><span
       >Uwarunkowania temperamentalne parafunkcji narządu żucia
       u młodzieży. (Temperamental determinants of oral parafunctions in
       adolescents.)</span><span >[AUT.]
       MONIKA LITKO, BARBARA MYKA-LITKO, JANUSZ SYKUT, JACEK SZKUTNIK. <i>Mag.
       Stomatol.</i> [online] 2012 R. 22 nr 10 s. 158-162, bibliogr. sum,
       [przeglądany 24 października 2012]. Dostępny w:
       www.magazyn-stomatologiczny.pl</span></a></span><span
       > </span></li>
   <li ><span ><a
       href="http://bpp.umlub.pl/bpp/wydawnictwo_ciagle/66733/" target="_blank"><span
       >Ocena kliniczna żelu do retrakcji dziąsłowej Racegel -
       doniesienie wstępne. (Clinical evaluation of gingival retraction gel
       Racegel - preliminary report.)</span><span >[AUT.] PAWEŁ MIESZKOWSKI, JANUSZ SYKUT, JANUSZ BOROWICZ, ANNA STELMASZCZYK,
       ANNA MIESZKOWSKA. <i>Stomatol. Współcz.</i> 2012 vol. 19 nr 1 s. 39-42,
       bibliogr. sum.</span></a></span><span > </span></li>
   <li ><span ><a
       href="http://bpp.umlub.pl/bpp/wydawnictwo_ciagle/65436/" target="_blank"><span
       >Pełnoceramiczne uzupełnienia protetyczne - różne drogi
       do osiągnięcia optymalnej estetyki. Na podstawie przypadków własnych.
       (All-ceramic laboratory made restorations - various ways of obtaining
       optimum aesthetics. Based on the authors' own work.)</span><span
       >[AUT.] PRZEMYSŁAW KLEINROK, JANUSZ
       SYKUT, MONIKA LITKO, KATARZYNA SARNA-BOŚ, JANUSZ BOROWICZ. <i>Mag.
       Stomatol.</i> 2011 R. 21 nr 11 s. 32-39.</span></a></span><span
       > </span></li>
   <li ><span ><a
       href="http://bpp.umlub.pl/bpp/wydawnictwo_ciagle/59286/" target="_blank"><span
       >Style radzenia sobie ze stresem u chorych z
       dysfunkcjami narządu żucia. (Coping inventory for stressfull situations in
       patients with temporomandibular dysfunctions.)</span><span
       >[AUT.] MONIKA LITKO, BARBARA
       MYKA-LITKO, JANUSZ SYKUT, BEATA PIÓRKOWSKA-SKRABUCHA, JANUSZ BOROWICZ. <i>Implantoprotetyka</i>
       2010 t. 11 nr 1 s. 33-37, bibliogr. sum.</span></a></span><span
       > </span></li>
   <li ><span ><a
       href="http://bpp.umlub.pl/bpp/wydawnictwo_ciagle/61897/" target="_blank"><span
       >Prefabricated post systems. Mechanical strength
       research of the post-root junction of the tooth of chosen metal passive
       posts.</span><span > [AUT.]
       K[ATARZYNA] SARNA-BOŚ, A. RUDAWSKA, A[NNA] SZABELSKA, M[ONIKA] LITKO,
       J[ANUSZ] SYKUT, M[AGDALENA] BAKALCZUK, J[ANUSZ] BOROWICZ. <i>Pol. J.
       Environ. Stud.</i> 2010 vol. 19 nr 6A s. 248-251, bibliogr. poz. 22.</span></a></span><span
       > </span></li>
   <li ><span ><a
       href="http://bpp.umlub.pl/bpp/wydawnictwo_ciagle/54373/" target="_blank"><span
       >Rehabilitacja implantoprotetyczna pacjentów bezzębnych
       w trudnych sytuacjach klinicznych. Opis przypadków. (Implant-prosthetic
       rehabilitation of edentulous patients under difficult clinical conditions
       - cases reports.)</span><span >[AUT.]
       JANUSZ SYKUT, MONIKA LITKO, PRZEMYSŁAW KLEINROK, INGRID RÓŻYŁO-KALINOWSKA,
       JANUSZ KLEINROK. <i>Mag. Stomatol.</i> 2009 R. 19 nr 5 s. 80-87.</span></a></span><span
       > </span></li>
   <li ><span ><a
       href="http://bpp.umlub.pl/bpp/wydawnictwo_ciagle/54374/" target="_blank"><span
       >Zastosowanie rezonansu magnetycznego w diagnostyce i
       planowaniu leczenia chorych z dysfunkcjami narządu żucia. (Magnetic
       resonance diagnostics and treatment planning in patients with dysfunction
       of the chewing apparatus - clinical cases.)</span><span >[AUT.] MONIKA LITKO, JANUSZ SYKUT, JANUSZ KLEINROK. <i>Mag.
       Stomatol.</i> 2009 R. 19 nr 5 s. 63-69, sum.</span></a></span><span
       > </span></li>
   <li ><span ><a
       href="http://bpp.umlub.pl/bpp/wydawnictwo_ciagle/55672/" target="_blank"><span
       >Investigations on bilateral medial TMJ disc
       displacements. (Badania nad obustronnymi przyśrodkowymi przemieszczeniami
       krążków ssż.)</span><span >[AUT.]
       BEATA PIÓRKOWSKA-SKRABUCHA, MONIKA LITKO, ELŻBIETA CZELEJ-PISZCZ, KATARZYNA
       SARNA-BOŚ, IWONA KUROŃ-OPALIŃSKA, JANUSZ SYKUT, ANNA WIKTOR-STOMA, JANUSZ
       KLEINROK. <i>Stomatol. Współcz.</i> 2009 vol. 16 nr 4 s. 8-13, bibliogr.
       poz. 33, streszcz.</span></a></span><span > </span></li>
   <li ><span ><a
       href="http://bpp.umlub.pl/bpp/wydawnictwo_ciagle/51042/" target="_blank"><span
       >Stan uzębienia i leczenia protetycznego u pacjentów z
       przewlekłą chorobą nerek leczonych hemodializami. Analiza przyczyn
       ograniczonego zaopatrzenia protetycznego. (Dental and prosthetic devices
       status of hemodialyzed patients. Reason of prosthetic treatment
       restriction.)</span><span >[AUT.]
       IWONA BARANOWICZ-GĄSZCZYK, LUCYNA JÓŹWIAK, JANUSZ SYKUT, ANDRZEJ KSIĄŻEK. <i>Nefrol.
       Dializoter. Pol.</i> 2008 t. 12 nr 3 s. 171-175, bibliogr. sum.</span></a></span><span
       > </span></li>
   <li ><span ><a
       href="http://bpp.umlub.pl/bpp/wydawnictwo_ciagle/47847/" target="_blank"><span
       >An analysis of the prevalence of appeals for treatment
       patients with symptoms of mandibular dysfunction - the comparative
       studies.</span><span > [AUT.]
       E[LŻBIETA] CZELEJ-PISZCZ, B[EATA] PIÓRKOWSKA-SKRABUCHA, M[ONIKA] LITKO,
       B.J. ROBAK, J[ANUSZ] SYKUT, I[WONA] KUROŃ-OPALIŃSKA, M[AGDALENA]
       BAKALCZUK, J[ANUSZ] KLEINROK. <i>Pol. J. Environ. Stud.</i> 2007 vol. 16
       nr 6C s. 49-52, bibliogr. poz. 38, IV International Scientific Symposium
       &quot;Environmental - health risk in dentistry&quot;. Lublin, 23-24
       November 2007.</span></a></span><span > </span></li>
   <li ><span ><a
       href="http://bpp.umlub.pl/bpp/wydawnictwo_ciagle/47862/" target="_blank"><span
       >The changes of immune system parameters as an
       unfavourable effect of disturb oral hygiene in removable denture wearers.</span><span
       > [AUT.] J[ANUSZ] SYKUT, M[ONIKA]
       LITKO, E[LŻBIETA] CZELEJ-PISZCZ, A[GNIESZKA] ZWOLAK, J[ANUSZ] KLEINROK. <i>Pol.
       J. Environ. Stud.</i> 2007 vol. 16 nr 6C s. 279-283, bibliogr, IV
       International Scientific Symposium &quot;Environmental - health risk in
       dentistry&quot;. Lublin, 23-24 November 2007.</span></a></span><span
       > </span></li>
   <li ><span ><a
       href="http://bpp.umlub.pl/bpp/wydawnictwo_ciagle/47842/" target="_blank"><span
       >Temporary mechanical strength research of the post-root
       junction of the tooth of chosen active prefabricated post systems.</span><span
       > [AUT.] K[ATARZYNA] SARNA-BOŚ,
       A[NNA] SZABELSKA, B[EATA] PIÓRKOWSKA-SKRABUCHA, M[ONIKA] LITKO, J[ANUSZ]
       SYKUT, J[OANNA] BOŻYK, A. RUDAWSKA, J[ANUSZ] KLEINROK. <i>Pol. J. Environ.
       Stud.</i> 2007 vol. 16 nr 6C s. 261-264, bibliogr. poz. 35, IV
       International Scientific Symposium &quot;Environmental - health risk in
       dentistry&quot;. Lublin, 23-24 November 2007.</span></a></span><span
       > </span></li>
   <li ><span ><a
       href="http://bpp.umlub.pl/bpp/wydawnictwo_ciagle/47850/" target="_blank"><span
       >Mandibular pain dysfunction syndrome in youth -
       analysis of treatment results of managing pain symptoms.</span><span
       > [AUT.] M[ONIKA] LITKO, J[ANUSZ]
       SYKUT, E[LŻBIETA] CZELEJ-PISZCZ, B[EATA] PIÓRKOWSKA-SKRABUCHA, K[ATARZYNA]
       SARNA-BOŚ, J[ANUSZ] KLEINROK. <i>Pol. J. Environ. Stud.</i> 2007 vol. 16
       nr 6C s. 154-157, bibliogr. poz. 25, IV International Scientific Symposium
       &quot;Environmental - health risk in dentistry&quot;. Lublin, 23-24
       November 2007.</span></a></span><span > </span></li>
   <li ><span ><a
       href="http://bpp.umlub.pl/bpp/wydawnictwo_ciagle/47863/" target="_blank"><span
       >The influence of removable prosthetic devices on the
       state of the prosthetic base tissues of the oral cavity.</span><span
       > [AUT.] J[ANUSZ] SYKUT, M[ONIKA]
       LITKO, E[LŻBIETA] CZELEJ-PISZCZ, I[WONA] KUROŃ-OPALIŃSKA, K[ATARZYNA]
       SARNA-BOŚ, J[ANUSZ] KLEINROK. <i>Pol. J. Environ. Stud.</i> 2007 vol. 16
       nr 6C s. 284-287, bibliogr, IV International Scientific Symposium
       &quot;Environmental - health risk in dentistry&quot;. Lublin, 23-24
       November 2007.</span></a></span><span > </span></li>
   <li ><span ><a
       href="http://bpp.umlub.pl/bpp/wydawnictwo_ciagle/47848/" target="_blank"><span
       >Comparison of cements for fixing of permanent
       prosthetic restoration. Resistance for cutting.</span><span
       > [AUT.] I[WONA] KUROŃ-OPALIŃSKA,
       E[LŻBIETA] CZELEJ-PISZCZ, B[EATA] PIÓRKOWSKA-SKRABUCHA, A[NDRZEJ] BOŻYK,
       M[AGDALENA] BAKALCZUK, J[ANUSZ] SYKUT, J[ANUSZ] KLEINROK. <i>Pol. J.
       Environ. Stud.</i> 2007 vol. 16 nr 6C s. 145-148, bibliogr. poz. 33, IV
       International Scientific Symposium &quot;Environmental - health risk in
       dentistry&quot;. Lublin, 23-24 November 2007.</span></a></span><span
       > </span></li>
   <li ><span ><a
       href="http://bpp.umlub.pl/bpp/wydawnictwo_ciagle/47157/" target="_blank"><span
       >Bólowy zespół dysfunkcji narządu żucia u chorej
       młodocianej - opis przypadku. (Mandibular pain dysfunction syndrome in a
       young patient: a case report.)</span><span >[AUT.] MONIKA LITKO, JANUSZ SYKUT, JANUSZ KLEINROK. <i>Protet.
       Stomatol.</i> 2007 t. 57 nr 6 s. 427-433, bibliogr. sum.</span></a></span><span
       > </span></li>
   <li ><span ><a
       href="http://bpp.umlub.pl/bpp/wydawnictwo_ciagle/42508/" target="_blank"><span
       >Zastosowanie preparatu Gengigel w leczeniu stanów
       patologicznych błony śluzowej jamy ustnej - wstępne obserwacje kliniczne. (The
       application of Gengigel in the treatment of pathological states of oral
       mucosa - a preliminary clinical observation.)</span><span
       >[AUT.] JANUSZ SYKUT, PIOTR SIŁUCH,
       ANNA ŚWISTAK, KAROL SELWESIUK, ANDRZEJ BOŻYK, JANUSZ KLEINROK. <i>Porad.
       Stomatol.</i> 2006 R. 6 nr 10 s. 40-44, bibliogr. sum.</span></a></span><span
       > </span></li>
   <li ><span ><a
       href="http://bpp.umlub.pl/bpp/wydawnictwo_ciagle/35603/" target="_blank"><span
       >Usage of hyaluronic acid in the treatment of
       pathological state of epithelium of an oral cavity. (Wykorzystanie kwasu
       hialuronowego w leczeniu stanów patologicznych błony śluzowej jamy
       ustnej.)</span><span >[AUT.] ANNA
       ŚWISTAK, KAROL SELWESIUK, PIOTR SIŁUCH, JANUSZ SYKUT, JANUSZ BOROWICZ,
       BARBARA SKRZYDŁO-RADOMAŃSKA, JANUSZ KLEINROK. <i>Ann. UMCS Sect. D</i>
       2005 vol. 60 nr 1 s. 13-15, bibliogr. streszcz.</span></a></span><span
       > </span></li>
   <li ><span ><a
       href="http://bpp.umlub.pl/bpp/wydawnictwo_ciagle/36974/" target="_blank"><span
       >The changes of oral cavity biocenosis in removable
       denture wearers including their influence on the changes of select
       peripheral blood parameters. (Zmiany w składzie flory bakteryjnej jamy
       ustnej u pacjentów użytkujących różne rodzaje ruchomych uzupełnień
       protetycznych i ich wpływ na wybrane parametry krwi obwodowej.)</span><span
       >[AUT.] JANUSZ SYKUT, ELŻBIETA PUACZ,
       JANUSZ KLEINROK. <i>Ann. UMCS Sect. D</i> 2005 vol. 60 nr 2 s. 850-854,
       bibliogr. streszcz.</span></a></span><span > </span></li>
   <li ><span ><a
       href="http://bpp.umlub.pl/bpp/wydawnictwo_ciagle/36599/" target="_blank"><span
       >The evaluation of the need for prosthetic treatment in
       dialyzed patients in Nephrology Clinic of PSK 4 clinical hospital of
       Lublin. (Ocena zapotrzebowania na leczenie protetyczne u pacjentów dializowanych
       w Klinice Nefrologii SPSK nr 4 w Lublinie.)</span><span >[AUT.] PIOTR SIŁUCH, JOLANTA ROBAK, JANUSZ SYKUT,
       LUCYNA JÓŹWIAK, IWONA BARANOWICZ, JANUSZ BOROWICZ, EDYTA JAROSZEWICZ,
       JANUSZ KLEINROK, ANDRZEJ KSIĄŻEK. <i>Ann. UMCS Sect. D</i> 2005 vol. 60 nr
       2 s. 1036-1040, bibliogr. streszcz.</span></a></span><span
       > </span></li>
   <li ><span ><a
       href="http://bpp.umlub.pl/bpp/wydawnictwo_ciagle/31930/" target="_blank"><span
       >Diagnostic abilities of three-dimensional electronic
       axiography on the basis of ARCUSdigma device. (Możliwości diagnostyczne
       trójwymiarowej aksjografii elektronicznej na podstawie urządzenia
       ARCUSdigma.)</span><span >[AUT.]
       MAGDALENA BAKALCZUK, ANDRZEJ BOŻYK, MICHAŁ IWANEK, JANUSZ BOROWICZ, JANUSZ
       SYKUT, JANUSZ KLEINROK. <i>Ann. UMCS Sect. D</i> 2004 vol. 59 nr 2 s.
       324-327, bibliogr. streszcz.</span></a></span><span
       > </span></li>
   <li ><span ><a
       href="http://bpp.umlub.pl/bpp/wydawnictwo_ciagle/31931/" target="_blank"><span
       >Prosthetic rehabilitation of edentulous patients with
       cleft palate. (Rehabilitacja protetyczna bezzębnych pacjentów z
       rozszczepem podniebienia.)</span><span >[AUT.]
       JANUSZ SYKUT, PAWEŁ MIESZKOWSKI, MAGDALENA BAKALCZUK, JANUSZ KLEINROK. <i>Ann.
       UMCS Sect. D</i> 2004 vol. 59 nr 2 s. 209-212, bibliogr. streszcz.</span></a></span><span
       > </span></li>
   <li ><span ><a
       href="http://bpp.umlub.pl/bpp/wydawnictwo_ciagle/30722/" target="_blank"><span
       >Ziarniniak szczelinowaty - przerostowa postać zapalenia
       protetycznego błony śluzowej jamy ustnej - opis przypadku. (Granuloma
       fissuratum - hypertrophy shape of stomatitis prosthetica of oral mucous
       membrane - a case report.)</span><span >[AUT.]
       JANUSZ SYKUT, JANUSZ BOROWICZ, ANNA ŚWISTAK, JANUSZ KLEINROK. <i>Protet.
       Stomatol.</i> 2004 t. 54 nr 4 s. 268-271, bibliogr. sum.</span></a></span><span
       > </span></li>
</ol>

  <h1>Artykuły o nas</h1>
  <div class="publications" *ngFor="let el of publ">
    <a [href]="'./assets/static/publications/'+ el +'.pdf'" download>
      <img class="cert-thumb" [src]="'./assets/static/publications/'+ el +'.jpg'" alt="prodentica publikacje" width="190" height="143.5">
      <i class="fa fa-download" aria-hidden="true"></i>
    </a>
  </div>

</div>
